{
	margin: 10px;
}
#head2 {
	font-family: Verdana,Arial;
	font-size: 40px;
}
#string,#ana,#words{
	font-family: Verdana,Arial;
	font-size: 30px;
}
#palbtn{
	font-family: Verdana,Arial;
	font-size: 20px;
	border: none;
	background-color: red;
	color: white;
	padding: 5px 10px;

}
#pal,#anagram{
	font-family: Verdana,Arial;
	font-size: 21px;
}

#anabtn{
	font-family: Verdana,Arial;
	font-size: 20px;
	border: none;
	background-color: #03cafc;
	color: white;
	padding: 5px 10px;
}
